<ngx-charts-line-chart
  [results]="dataLC"
  [view]="viewLC"
  [animations]="animationsLC"
  [showGridLines]="showGridLinesLC"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [legend]="legendLC"
  [legendTitle]="legendTitleLC"
  [roundDomains]="roundDomainsLC"
  [xAxis]="true"
  [yAxis]="true"
  [xAxisLabel]="'Elapsed Time'"
  [yAxisLabel]="'Battery Level'"
  [yAxisTickFormatting]="batteryLevelFormatter"
  [xAxisTickFormatting]="dateFormatterLC"
  [rotateXAxisTicks]="true"

></ngx-charts-line-chart>
